/Chapter01/YouSha_unity2021.3.0f1c1_URP/Library
/Chapter01/YouSha_unity2021.3.0f1c1_URP/Logs
/Chapter01/YouSha_unity2021.3.0f1c1_URP/Temp
/Chapter01/YouSha_unity2021.3.0f1c1_URP/UserSettings
/Chapter01/YouSha_unity2021.3.0f1c1_URP/*.csproj
/Chapter01/YouSha_unity2021.3.0f1c1_URP/*.sln
